<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Ubicación Piscinas Olympia</title>
        <link rel="stylesheet" href="../css/style.css">
        <link a href="index.html">
        <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
   </head>
    <body>
         <header>
                <nav>
                    <a href="../index.html">
                        <img src="../img/logo.png" alt="logo">
                    </a>
                    <h1>Contactos</h1>
                         <ul>
                                <li><a href="../index.html">Inicio</a></li>
                                <li><a href="presupuesto.html">Presupuestos</a></li>
                                <li><a href="productos.html">Productos</a></li>
                                <li><a class="activo" href="contactos.html"> Contactos</a></li>
                        </ul>

                </nav>
         </header>

            <main>
             
                <p> Puedes llamarnos al Teléfono : 658993200. </p> 
                <p> Mandarnos un correo electrónico a: PiscinasOlympia@gmail.com </p>
                <p> ¡Ven a conocernos! Estamos encantados de poder conocerte de forma personal.</p>
                <p class="parrafo_visita"> Puedes visitarnos en:</p>  
                    <table> 
                        <tr>
                            <td> 
                                <p> Avenida Rue Local 13.</p>
                            </td>
                             <td><img src="../img/AV rue 13.jpg.png" alt="Plano tienda" height="200" width="250"/>
                            </td>
                       
                        </tr>
                        <tr>
                            <td> 
                                <p> Calle Puesta de Sol Local 5.</p>
                            </td>
                            <td><img src="../img/plano calle puesta sol.png" alt="Plano tienda 2"height="200" width="250"/>
                            </td>
                        </tr>
                    </table>
                
                <p class="horario"> Nuestro Horario es de Lunes a Viernes de 10:30 a 17:00</p>
            
            </main>
            <footer>
                <p style="color:rgb(236, 255, 255)"> No dude visitarnos en C/Puesta de sol 34 local 5 ó en Av Rue Local 13.</p>
                <p style="color: azure;"> Aviso Legal/ Acepta nuestras cookies</p>
                <p style="color: azure;"> Copyrigth&copy; 2025 Piscinas Olympia tiene los derechos reservados de esta página.</p>
                <a href="http://www.facebook.com">Siguenos en Facebook.
                    <img src="../img/facebook.png" alt="logo Facebook" width="30" height="30">
                </a>
                <a href="http://www.instagram.com">Siguenos en instagram.
                    <img src="../img/instagram.jpg" alt="Logo instagram" width="30" height="30">
                </a>
                
            </footer>
    </body>
</html>
  
  
  
