<!DOCTYPE html>
<html lang="es">
	
	<head>
    	<meta charset="UTF-8">
   		<meta name="viewport" content="width=device-width,initial-scale=1.0">
    	<title>Productos Piscinas Olympia</title>
   		<link rel="stylesheet" href="../css/style.css">
   		<link href="index.html">
   		<link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
	</head>
      
	<body>

     		<header>
				<nav>
       				<a href="../index.html">
       					<img src="../img/logo.png" alt="logo">
       				</a>
    			 <h1>Productos</h1>
    			<!-- Enlace que nos derive de vuelta al inicio, especificar en que parte de la pagina que estamos-->
          			<ul>
             			<li><a href="../index.html">Inicio</a></li>
             			<li><a class="activo" href="productos.html">Productos</a></li>
			 			<li><a href="presupuesto.html">Presupuestos</a></li>
             			<li><a href="contactos.html">Contactos</a></li>
          			</ul>
				</nav>
     		</header>

      		<section>

				<p>En Piscinas Olympia, tenemos una alta gama de diseños para poder realizar una piscina a tu gusto, independientemente del espacio que tengas y de tu presupuesto.
       			Nos adaptamos a tus ideas ya que podrás elegir entre una piscina de cloro o de sal sin ningún coste alguno.</p>

         		<div class="gallery"> 

            		<div class="gallery-item">
               			<a target="_blank" href="../img/piscina cuadrada.jpg">
               				<img src="../img/piscina cuadrada.jpg" alt="piscina cuadrada" width="180" height="180">
						</a>
            		    <div class="desc">Piscina cuadrada</div>
              		</div>

              	 	<div class="gallery-item">
              		 	<a target="_blank" href="../img/piscina desmontable.jpg">
               				<img src="../img/piscina desmontable.jpg" alt="piscina desmontable" width="180" height="180">
						</a>
               	 		<div class="desc">Piscina desmontable</div>
              	 	</div>

				 	<div class="gallery-item">
               			<a target="_blank" href="../img/piscina ovalada 2.jpg">
               				<img src="../img/piscina ovalada 2.jpg" alt="piscina ovalada" width="180" height="180">
						</a>
                 		<div class="desc">Piscina ovalada</div>
              	 	</div>

             		<div class="gallery-item">
                		<a target="_blank" href="../img/piscina en z.jpg">
                			<img src="../img/piscina en z.jpg" alt="Piscina en z" width="180" height="180">
						</a>
                	    <div class="desc">Piscina en Z</div>
                 	</div>

             		<div class="gallery-item">
                		<a target="_blank" href="../img/piscina redonda.jpg">
                			<img src="../img/piscina redonda.jpg" alt="piscina redonda" width="180" height="180">
						</a>
                 		<div class="desc">Piscina redonda</div>
                 	</div>

             	 	<div class="gallery-item">
               			<a target="_blank" href="../img/piscina estrecha.jpg">
               				<img src="../img/piscina estrecha.jpg" alt="piscina estrecha" width="180" height="180">
						</a>
                 		<div class="desc">Piscina espacios reducidos</div>
             	 	</div>

             		</div class="gallery-item">
            	 </div class="gallery">

       			<p class="parrafo_oferta"><b>Contamos con un descuento del 20% si contratas nuestros servicios entre los meses de Noviembre a Febrero.</b></p>
             
          		 		<ul class="productos"> Nuestros precios en las piscinas  varian según la profundidad:
             		 		<li> Entre  60 cm a 90 cm 80€. </li>
             				<li> Entre 90cm a 120 cm 100€.</li>
             				<li> Entre 120 a 180 cm 150€.</li>
             				<li>  Entre 180 cm hasta 220cm 200€.</li>
            				<li> <img src="../img/Profundidad piscina con dibujo.jpg" alt="Tamaño piscinas"></li>
           				</ul>
      		 <h2> ¿Creias que solo tenemos piscinas? Disponemos de mucho más: </h2>

        		<p class="parrafo_accesorios">Catalogo orientativo de Accesorios , si no encuentra algo puede consultarnos:</p>
        			<ul class="accesorios"> 
          				 <li>Pecio escalera :   Acero inoxidable  250€ ud ;  Poliestireno 360€ ud:</li>
            			 <li> Limpiafondos: Robot Zodiac N-29 799€; Conga Poldroid 585€; Conga robot 150€:</li>
           				 <li> Pastillas de cloro: Bote 30 pastillas 10€; Bote 95 pastillas 45€; Bote 120 pastillas 95€:</li>
           				 <li> Cubiertas Piscinas: 220cm 140€; 150 cm 90€; 95cm 60€ </li>
       				 </ul>

       		 <p class="Jacuzzis"><p>Jacuzzis & Hidromasajes</p>
       				 <table class="Jacuzzis">
            			<tr>
             		 			<td>
									<p> Hidromasaje esquinero 3 plazas<b> 150€ <b></p> <img src="../img/jacuzzi esquina.jpg" alt="hidromasaje esquinero" width="150" height="150">
								</td>
              					<td> 
									<p> Hidromasaje cuadrado  5 plazas <b> 450€ </b></p><img src="../img/jacuzzi interior.jpg" alt="hidromasaje interior" width="150" height="150">
								</td>
            			</tr>
            			<tr>
               				 <td> 
                   			 		<p> Jacuzzi madera 4 plazas <b>480€</b></p><img src="../img/jacuzzi madera.jpg" alt="Jacuzzi madera" width="150" height="150">
               				 </td>
                				<td>
                    				<p> Jacuzzi poliestireno 5 plazas <b> 350€</b></p><img src="../img/jacuzi redondo.jpg" alt="Jacuzzi poliestireno" width="150" height="150">
                				</td>
						</tr>
        			</table>
			</section>
 			<footer>
  			 	<p style="color:rgb(236, 255, 255)"> No dude visitarnos en C/Puesta de sol 34 local 5 ó en Av Rue Local 13.</p>
   				<p style="color: azure;"> Aviso Legal/ Acepta nuestras cookies.</p> 
   				<p style="color: azure;"> Copyrigth&copy; 2025 Piscinas Olympia tiene los derechos reservados de esta página.</p>
				<a href="http://www.facebook.com">Siguenos en Facebook.

                    <img src="../img/facebook.png" alt="logo Facebook" width="30" height="30">
                </a>
                <a href="http://www.instagram.com">Siguenos en instagram.
                    <img src="../img/instagram.jpg" alt="Logo instagram" width="30" height="30">
                </a>
			</footer>
	</body>
</html>