*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing:none;
    list-style-type: none;
    text-decoration:none;
}
  
body{
    display: grid;
    min-height: 100vh;
    margin: 0%;
    grid-template-rows: auto 1fr auto;

}
/* -----------------------------header------------------ */

body header nav{
    
    background:linear-gradient(#d2ebfc,#2130ff);
    display:flex;
    text-align: center;
    align-items:center;
    justify-content:space-between;
    margin: 0% auto;
       
}

 body  header nav h1 {
    font-size:6em;
    margin: 0% auto;
    color: #fcfdff;
    text-align: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
     
}
body header ul li{
  
  font-size:1em;
  align-items:center;
  justify-content:center;
  float:unset;
  border-left: solid 4px #fafbfc;
  font-family: fantasy; 
}
body header ul li .activo{
  background-color: rgb(9, 245, 245);
  color: black;
}


    /* --------------------------body --------------------*/



 body main #parrafoinicio{
    width: 80%;
    margin:0 auto;
    text-align: center;
    justify-content: center;
    text-indent: 3em;
    margin-bottom: 1%;
    margin-top: 4%;
   
    
 }
body main #parrafoinicio1{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 2%;

 


}

 body main .parrafo_contenido{

    width: 80%;
    margin: 0 auto;
    text-align:center;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 3%;
    
    

   

}
 body main img {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 4em;
    border-image-width: 75%;
    image-rendering: initial;
   


 }
body main h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 2%;
    font-size: 2.5em;
    margin-bottom: 1em;
    text-align: center;
    justify-content: center;
    text-decoration: overline;
    color:#848cfa
    

} 
 body main h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:2.5em;
    margin-top: 2%;
    text-align: center;
    justify-content:center;
    text-decoration: overline;
    color:#848cfa;
    margin-bottom: 1em;
    
}
 body main ul{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom:2%;
  
 }
 body main h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5em;
    text-align: center;
    justify-content: center;
    margin-bottom: 1em;
    color:#848cfa;
    text-decoration: overline;
}


/*------------------- section productos-----------*/


 body section nav{
    background: linear-gradient(#9bd3f8,#0b67a5 );
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    


}

  body section p{
    width:60%;
    width:85%;
    margin:0% auto;
    text-align: center;
    margin-bottom:4%;
    margin-top:4%; 
    
}
div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    width:auto;
    height: auto;
    margin: 0 auto;
    margin-bottom: 2%;
    
}
  
  div.gallery-item {
  
    max-width:100%;
    height:8%;
    margin: 5%;
    border: 2% solid #ccc;
    justify-content: center;   
    align-items: center; 
    margin-bottom:2%;
    
}
  
  div.gallery-item:hover {
    border: 2% solid #777;
}
  
  div.gallery-item img {
    max-width:100%;
    height: 20%;
}
  
  div.gallery-item div.desc {
    padding: 20%;
    text-align: center;
    margin-bottom: 2%;
}
  section .parrafo_oferta{
    font-size: large;
    color: #93c2f0;
    margin-bottom: 4%;
    margin-top: 4%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content:center;
    
}
 
  section ul.productos{
    width:80%;
    height:10%;
    margin:0% auto;
    margin-bottom:2%;
    margin-top: 2%;
    text-align:center;
    justify-content:center;
 }
  body section h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:80%;
    height:5%;
    margin:0% auto;
    margin-bottom:2%;
    margin-top:4%;
    text-align:center;
    justify-content: center;
    font-size: larger;
   
 }

  body section ul.accesorios{
  width:80%;
  height:5%;
  margin: 0% auto;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  display:flex;
  flex-flow:column;
 }

   body section table{
    justify-content:center;
    text-align:center;
    width:6%;
    height:4%;
    margin: 0% auto;
    margin-top: 5%;
    margin-bottom: 7%;
    
  
  }
/*----------- seccion presupuestos--------*/

  body section table.iconos{
    justify-content:center;
    text-align:center;
    border-radius:15%;
    width:80%;
    height:10%;
    margin-top:5%;
    margin-bottom:5%;
    border:5px solid #62befc;

 }
   body section .parrafo_presupuesto {
    margin-bottom:2%;
    margin-top:2%;
    text-align:center;
    font-size:large;
 }

  section form{
   text-align:center;
    margin: 0 auto; 
    width:50%;
    height:5%;
    display:flex;
    flex-flow:column;
    margin-top:4%;
    margin-bottom:4%;
 }
   section form input{
    margin:5%;
    opacity: 1.5px;
    border: 2px solid rgb(79, 60, 247);
    text-align:center;
    align-items:center;
    display: flex;
    flex-flow: column;
    text-indent:5%;
    margin-top: 4%; 
    margin-bottom: 4%;
    
}
  section form textarea{
    color: #2130ff;
    background-color: #bcff02;
    width: 30%;
    height: 30%;

  }



/*----------Seccion contactos-----------*/
body main p{
  text-align: center;
  font-size: large;
  margin-top: 2%;


}
body main .parrafo_visita{
  margin-top: 4%;
  font-size: larger;
  text-align:center; 
  
}
 body main table {
  border:#0b67a5;
  font-weight: bold;
  border-radius: 75%;
  background:linear-gradient(#d5eefd,#62befc);
  width: 50%;
  text-align: center;
}
body main .horario{
  font-size: large;
  text-align: center;
  margin-bottom: 5%;
}


/*------------- Pie de página para todas las pags---------*/

 footer  { 
  font-size: large;
  text-align:center;
  background-color:#93c2f0;  
  padding:5%;
  margin-top: 2%; 
    
}



  
    
